<div class="container my-4">
    <!-- -----BEGIN SEARCH AND INSERT BLOCK----- -->
    <div class="insertSearchBlock">

        <div class="insert-block">
            <button type="button" class="btn btn-adno" data-bs-toggle="modal" data-bs-target="#alertModal" data-bs-whatever="@mdo">
                <i class="bi bi-plus-lg icon-monitor"></i>
            </button>

            <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="alertModalLabel">Nouvelle Alerte</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3" *ngFor="let formKey of lotKeys">
                                    <label for="recipient-name" class="col-form-label">{{ formKey }} :</label>
                                    <input type="text" class="form-control" id="image-name" #new{{formKey}}>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success">Ajouter</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="search-block">
            <div class="input-group">
                <input type="text" [(ngModel)]="searchText" id="listSearch" class="form-control search-input" placeholder="Cherchez une alerte">
                <div class="input-group-text search-icon">
                    <i class="bi bi-search icon-monitor"></i>
                </div>
            </div>
        </div>

    </div>
    <!-- -----END SEARCH AND INSERT BLOCK----- -->

    <div class="table-responsive mt-4">
        <table class="table table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col" *ngFor="let lotKey of lotKeys">{{ lotKey }}</th>
                </tr>
            </thead>
            <tbody *ngFor="let lotValue of lotLists | searchFilter : searchText">
                <tr>
                    <th scope="row">{{lotValue.id_lot}}</th>
                    <td>{{ lotValue.type }}</td>
                    <td>{{ lotValue.id_espece.nom }}</td>
                    <td>{{ lotValue.id_cuve.libelle }}</td>
                    <td>{{ lotValue.nom }}</td>
                </tr>
            </tbody>
        </table>
      </div>
</div>
