/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";

:root {
  --color-main: #f98948;
  --color-olive: #9b8816;
  --color-darkBrown: #5d3a00;
  --color-brown: #684e32;
  --color-yellow: #f9ea9a;
}

.btn-adno {
  background-color: var(--color-darkBrown);
  border-color: var(--color-darkBrown);
  color: #fff;
}

.btn-adno:hover {
  background-color: var(--color-brown);
  border-color: var(--color-brown);
  color: #fff;
}
